[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pipenv = "*"
install = "*"
flask-sqlalchemy = "*"
marshmallow = "*"
marshmallow-sqlalchemy = "*"
flask-marshmallow = "*"
psycopg2 = "*"
flask-cors = "*"
flask-bcrypt = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.10"
